.score-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
}

.score-item {
  background-color: #00000010;
  border-radius: 20px;
  position: relative;
  height: 40px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 45%;
}

.score-image {
  filter: drop-shadow(0 0 5px gold);
  -webkit-filter: drop-shadow(0 0 5px gold);
}

.score-info {
  font-size: 28px;
  line-height: 40px;
  color: white;
  font-weight: 700;
}
